.hero-content {
    position: relative;
    height: 600px;
    background-image: url(../img/hero-1.jpg);
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content--overlay {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2em;
    height: fit-content;
}

@media (min-width: 576px) {
    .hero-content--overlay {
        width: 80%;
        border-radius: 0.25em;
    }
}

@media (min-width: 761x) {
    .hero-content--overlay {
        width: 60%;
        border-radius: 0.25em;
    }
}

@media (min-width: 900px) {
    .hero-content--overlay {
        width: 50%;
        border-radius: 0.25em;
    }
}
